body{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url("images/tempconvert3.jpg"); 
    background-size: cover; /* Set background image to cover entire container */
    background-repeat: no-repeat; /* Prevent background image from repeating */
    background-position: center center; /* Center the background image */
    padding: 20px;
    color: black;
}

.container{
    background: rgba(255, 255,255,0.3);
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.3);
    width: 85%;
    max-width: 450px;
    min-width: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 100px;
}

.heading{
    font-size: 42px;
}

.temp-container{
    width: 100%;
    padding: 15px;
    font-weight: bold;
    font-size: 28px;
}

input{
    width: 220px;
    font-family: monospace;
    float: right;
    padding: 5px;
    outline: none;
    background: rgba(255,255,255,0.3);
    border-color: rgba(255,255,255,0.6);
    color:black;
    font-size: 18px;
}

input::placeholder{
    color:rgb(72, 145, 165);
}

.button{
    margin-top: 25px;
    text-align: center;
}

.button button{
    border: none;
    outline: none;
    padding: 20px 30px;
    font-size: 20px;
    border-radius: 30px;
    cursor: pointer;
    transition: 0.3s;
    color: balck;
    box-shadow: 0 4px 10px rgba(0,0,0,0.3);
}

.button button:hover{
    background: black;
    color:white;
}

.footer {
    height: 5vh;
    width: 100vw;
    position: absolute;
    bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer p {
    font-size: 25px;
    color: black;
    font-family: 'Times New Roman';
}

.footer p span {
    text-decoration: none;
    color: rgb(72, 145, 165);
}

@media (max-width: 768px) {
    .container {
        padding: 10px;
    }

    .heading {
        font-size: 24px;
    }

    .temp-container {
        font-size: 18px;
    }

    input {
        font-size: 14px;
    }

    .button button {
        font-size: 14px;
    }

    .footer p {
        font-size: 14px;
        bottom: 3px;
    }
}



